<main class="max-w-lg mx-auto my-4">
  <h1 class="text-5xl font-light mb-4 text-amber-700">{{title}}</h1>
  <nova-welcome></nova-welcome>
  <p>Press <core-button bgColor="primary">the button!</core-button>
    now: {{now.format()}}
  </p>
  <p>
    Another Button <core-button bgColor="secondary" bgIntensity="dark" bgOpacity="half">Fancy!</core-button>
  </p>
  <router-outlet></router-outlet>
  <p>
    Outline Button <core-button-outline textColor="secondary" textIntensity="dark">Outline!</core-button-outline>
  </p>
  <router-outlet></router-outlet>
  <nova-footer></nova-footer>
</main>